[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-bundler"]
	path = vim/vim.symlink/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/github-colorscheme"]
	path = vim/vim.symlink/bundle/github-colorscheme
	url = git://github.com/endel/vim-github-colorscheme.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/funcoo"]
	path = vim/vim.symlink/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "vim/vim.symlink/bundle/dash"]
	path = vim/vim.symlink/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/vim.symlink/bundle/vim-clojure-static"]
	path = vim/vim.symlink/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
